@inherits LayoutComponentBase

<div class="page">
    <main>
        <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom border-2">
            <div class="container-fluid">

                <a class="navbar-brand" href="">
                    <iconify-icon icon="mdi:passport" class="d-inline-block align-middle" style="color: gray;"
                        width="100" height="100"></iconify-icon>
                    AFS Visa Processing System
                </a>

                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="VisaAdvice">Get Visa Advice</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="VisaApplication">Apply For A Visa</a>
                    </li>
                </ul>
                <div class="d-flex p-4">
                    Username
                </div>
            </div>
        </nav>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
