@page "/VisaApplication"
@using Models
@inject IVisaApplicationService visaApplicationService

<PageTitle>Apply For A Visa</PageTitle>
<h3>Visa Application</h3>

@code
{
    List<Models.VisaApplication> visaApps;
    protected void OnInitalized()
    {
        visaApps = visaApplicationService.GetAllVisaApplication();
    }

}