@page "/VisaApplication"
@using Models
@using Services
@inject IVisaApplicationData visaApplicationData

<PageTitle>Apply For A Visa</PageTitle>
<h2 style="text-align: center">Apply For A Visa</h2>

<div id="container" class="container mt-4">
    <div class="progress px-1" style="height: 3px;">
        <div class="progress-bar" role="progressbar" style="width: 0%;" aria-valuenow="0" aria-valuemin="0"
            aria-valuemax="100"></div>
    </div>
    <div class="step-container d-flex justify-content-between">
        <div class="step-circle" onclick="displayStep(1)">1</div>
        <div class="step-circle" onclick="displayStep(2)">2</div>
        <div class="step-circle" onclick="displayStep(3)">3</div>
    </div>

    <EditForm Model="visaApp" OnValidSubmit="HandleSubmit" class="border border-2 rounded p-2" id="multi-step-form">
        <DataAnnotationsValidator />

        <div class="step step-1 p-1">
            <!-- Step 1 form fields here -->
            <h3>Basic Information</h3>
            <div class="mb-3">
                <label for="legalName" class="form-label">Full Legal Name</label>
                <InputText @bind-Value="visaApp.FullLegalName" name="Full Legal Name" type="text" class="form-control"
                    id="legalName" />
            </div>
            <div class="mb-3">
                <label for="dateOfBirth" class="form-label">Date Of Birth</label>
                <InputDate @bind-Value="visaApp.DateOfBirth" class="form-control" id="dateOfBirth">
                </InputDate>
            </div>
            <div class="mb-3">
                <label for="emailAddress" class="form-label">Email Address</label>
                <InputText @bind-Value="visaApp.EmailAddress" type="email" class="form-control" id="emailAddress"
                    aria-describedby="emailHelp" />
                <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
            </div>
            <div class="mb-3">
                <label for="contactNumber" class="form-label">Contact Number</label>
                <InputNumber @bind-Value="visaApp.ContactNumber" type="number" class="form-control" id="contactNumber"
                    aria-describedby="contactNumberHelp" />
                <div id="contactNumberHelp" class="form-text">Please include the country prefix e.g: UK = 0</div>
            </div>
            <ValidationSummary />
            <button type="button" class="btn btn-primary next-step">Next</button>
        </div>

        <div class="step step-2 p-1">
            <!-- Step 2 form fields here -->
            <h3>Specific Visa Information</h3>
            <div class="mb-3">
                <label for="visaType" class="form-label">Visa Type</label>
                <InputSelect @bind-Value="visaApp.VisaType" id="visaType" class="form-select">
                    <option selected>Select Visa Type</option>
                    @foreach (string name in Enum.GetNames(typeof(VisaType)))
                    {
                        <option value="@name">@name</option>
                    }
                </InputSelect>
            </div>
            <div class="mb-3">
                <label for="purposeOfStay" class="form-label">Purpose Of Stay</label>
                <InputTextArea @bind-Value="visaApp.PurposeOfStay" class="form-control" id="purposeOfStay" rows="3" />
            </div>
            <div class="mb-3">
                <label for="countryOfOrigin" class="form-label">Country Of Origin</label>
                <InputText @bind-Value="visaApp.CountryOfOrigin" type="text" class="form-control"
                    id="countryOfOrigin" />
            </div>
            <div class="mb-3">
                <label for="countryOfDestination" class="form-label">Country Of Destination</label>
                <InputText @bind-Value="visaApp.CountryOfDestination" type="text" class="form-control"
                    id="countryOfDestination" />
            </div>
            <ValidationSummary />
            <button type="button" class="btn btn-secondary prev-step">Previous</button>
            <button type="button" class="btn btn-primary next-step">Next</button>
        </div>

        <div class="step step-3 p-1">
            <!-- Step 3 form fields here -->
            <h3>Documentation</h3>
            <div class="mb-3">
                <label for="identification" class="form-label">Please upload a form of Identification</label>
                <input class="form-control" type="file" id="identification" aria-describedby="identificationHelp">
                <div id="identificationHelp" class="form-text">
                    Scan of Drivers License, Passport, Birth Certificate, etc. Seek visa advice for more info...
                </div>
            </div>
            <div class="mb-3">
                <label for="proofOfAddress" class="form-label">Please upload a Proof Of Address</label>
                <input class="form-control" type="file" id="proofOfAddress" aria-describedby="proofOfAddressHelp">
                <div id="proofOfAddressHelp" class="form-text">
                    Scan of Utility bill, bank statement, tax documents, etc. Seek visa advice for more info...
                </div>
            </div>
            <ValidationSummary />
            <button type="button" class="btn btn-secondary prev-step">Previous</button>
            <button type="submit" class="btn btn-success">Submit</button>
        </div>
    </EditForm>
</div>
<script src="js\multiStepForm.js"></script>

@code
{
    Models.VisaApplication? visaApp = new Models.VisaApplication();
    DateTime minimumAge = DateTime.Today.AddYears(-18);
    bool cacheExists = false; // Not implemented

    protected override void OnParametersSet()
    {
        if (cacheExists)
        {
            // Get in progress visa application
        }
        else
        {
            visaApp = new Models.VisaApplication()
                {
                    DateOfBirth = minimumAge
                };
        }
    }

    public void HandleSubmit()
    {

    }

    protected void OnInitalized()
    {

    }
}