@page
@model AFS_Visa_Processing_System.Pages.ApplyForAVisa.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>VisaApplication</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="VisaApplication.VisaAppID" />
            <div class="form-group">
                <label asp-for="VisaApplication.VisaTypeID" class="control-label"></label>
                <input asp-for="VisaApplication.VisaTypeID" class="form-control" />
                <span asp-validation-for="VisaApplication.VisaTypeID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VisaApplication.UserID" class="control-label"></label>
                <input asp-for="VisaApplication.UserID" class="form-control" />
                <span asp-validation-for="VisaApplication.UserID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
